.link-after {
  content: "";
  display: block;
  height: 0.15em;
  background: $primary;
}

.nav-link,
.navbar-brand {
  &::after {
    @extend .link-after;
    width: 0;
    transition: width 0.35s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav-resume-btn {
  padding-top: 5px;
  width: 90px;
  height: 35px;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 25px;
  background-color: rgba(30, 83, 255, 0.70);
  color: white;
  text-align: center;
  cursor: pointer;
}

.nav-resume-btn:hover
{
  background-color: rgba(30, 83, 255, 0.85);
}

.nav-theme-toggler {
  width: 30px;
  height: 30px;
  margin: 5px 0px 0px 5px;
}


.nav-item.active {
  font-weight: bold;

  &::after {
    @extend .link-after;
    width: 100% !important;
  }
}

.navbar-brand {
  margin-bottom: -14px;
  &::after {
    margin-top: -0.25em;
  }
}
